.todo 
  cursor: pointer
  font-weight: bold
  width: 100%
  padding: 10px 0
  .done 
    text-decoration: line-through
    opacity: 0.3
  button 
    display: inline-block
    vertical-align: top
    margin-left: 20px